.c-left-sidebar{
  border: solid #E0E0E0 1px;
  box-shadow: 0 6px 11px 0px rgba(0, 0, 0, 0.08);
  height: 100%;
}
.c-sbr{
  padding: 0 16px;
  h5{
    font: italic 14px/18px Merriweather, sans;
    color: black;
  }
  li:not(:first-child) a, p{
    color: rgba(0, 0, 0, 0.54);
    font: italic 14px/15px Merriweather, sans;
  }
}
.c-lsbr-1 {
  border-bottom: solid #E0E0E0 1px;
  h5{font-weight: bold;}
  ul{margin-bottom: 0;}
  li{
    display: flex;
    padding: 5px 0;
    font: italic 14px/15px Merriweather, sans;
    color: rgba(0, 0, 0, 0.54);
    &:first-child{font-weight: bold;}
    // &:last-child{justify-content: space-around;}
  }
   span a{
    font-size: 13px;
    color: #2F80ED;
    font-style: normal;
    margin: 10px 5px;
  }
}

.c-lsbr-2{
  border-bottom: solid #E0E0E0 1px;
  ul{margin-top: 0;}
  li{
    display: flex;
    padding: 10px 0;
  }
  .current::before{
        content: '';
        background-color: black;
        width: 8px;
        height: 15px;
        margin-left: -10px;
        margin-right: 6px;
      }
}

.c-sbr-comment{
  border-bottom: solid #E0E0E0 1px;
  align-items: center;
  &::after{
    content: '17';
    background-color: rgba(0, 119, 194, 0.54);
    border-radius: 50%;
    margin-left: 5px;
    padding: 0px;
    width: 10%;
    height: 10%;
    color: white;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }
}
