.c-r-side-opener{
  flex-direction: column;
  border-radius: 24px;
  box-shadow: 0 2px 11px 0px rgba(0, 0, 0, 0.08);
  height: 50%;
  margin: 10% 0;
  margin-left: 3%;
  &.fixed{
    z-index: 1;
    background: #fff;
    overflow-x: hidden;
    top:20%;
}
  img{
    margin: 20px 10px;
  }
}

.c-right-sidebar{
  display: none;
  width: 20%;
}
